<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>

<body>
  <div class="container">
    <h1>Budgtr</h1>
    <a href="/budget/new">
      <button>Add New Item</button>
    </a>
  </div >
  <!-- <div class="sum">
  <% let bankAccount=[]; %>
    <% for (let j=0; j < budget.length; j+=1){%>
      <% bankAccount.push(budget[j].amount) %>
        <% } %>
          <% let sum=bankAccount.reduce((accumulator, currentValue)=> { return accumulator +
            currentValue; }, 0); %>
          <h3> <%=sum %> </h3>
          <% if(sum < 0); { %>
      </div> -->
  <table>
    <% for(let i=0; i < budget.length; i++) { %>
      <tr>
        <td>
          <%= budget[i].date %>
        </td>
        <td><a href="">
            <%= budget[i].name %>
          </a></td>
        <td>
          <%= budget[i].from %>
        </td>
        <td>
          <%= budget[i].amount %>
        </td>
        <td>
          <%= budget[i].tags %>
        </td>
      </tr>
      <% } %>
  </table>
</body>

</html>